/*==================================== Google Fonts ====================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*==================================== Colors ====================================*/
/* HSL color mode */
:root{
    --btn-bg-color: hsl(230, 69%, 10%);
    --home-bg-color: whitesmoke;
    --about-bg-color: #dadfe1;
}

/*==================================== Google Fonts ====================================*/


/*==================================== * CSS ====================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==================================== Navbar ====================================*/
.navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: var(--btn-bg-color);
    /*background-color: black;*/
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#m{
    font-family: cursive;
    font-size: 1.5em;
    font-weight: bolder;
}

#k{
    color: red;
}

/*==================================== Home section ====================================*/
.home {
    background: linear-gradient(to bottom right, var(--home-bg-color), white);
    background-size: cover;
    width: 100vw;
    color: black;
}

.home h3{
    font-size: 4.4rem;
    font-we;ight: 700;
}

.home h6{
    line-height: 1;
    border-bottom: 3px solid red;
    width: 36%;
}

#\& {
    font-family: cursive;
}

.linkedInBtn {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
}

.linkedInBtn:hover {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    background-color: #f2f1ef;
}

.githubBtn {
    border-radius: 5px;
    border: 2px solid var(--btn-bg-color);
    padding: 5px;
    cursor: pointer;
}

.githubBtn:hover {
    border-radius: 5px;
    border: 2px solid var(--btn-bg-color);
    padding: 5px;
    cursor: pointer;
    background-color: #f2f1ef;
}


/*==================================== About section ====================================*/
.about {
    background: linear-gradient(to bottom right, var(--about-bg-color), white);
    color: black;
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.btn1:hover {
    color: white;
    background-color: var(--btn-bg-color);
    transition: 0.4s;
}

.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.btn2:hover {
    color: white;
    background-color: var(--btn-bg-color);
    transition: 0.4s;
}

/*==================================== Portfolio section ====================================*/

.control ul li {
    width: 125px;
    list-style: none;
    background-color: var(--btn-bg-color);
    padding: 5px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}

.control ul li:hover {
    background-color: whitesmoke;
    color: var(--btn-bg-color);
    transition: 0.4s;
}

/*Project Card CSS */
.project-area {
    padding: 80px 0;
}
.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid whitesmoke;
    margin-top: -80px;
}

.card:hover .img2 img {
    border-color: var(--btn-bg-color);
    transition: 0.8s;
}

.main-text {
    padding: 30px 0;
    text-align: center;
}

.main-text h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p {
    font-size: 16px;
    padding: 0 35px;
}