/*==================================== Google Fonts ====================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*==================================== Colors ====================================*/
/* HSL color mode */
:root{
    --btn-bg-color: hsl(230, 69%, 10%);
    --intro-bg-color: #dadfe1;
    --bglight-bg-color: #f8f9fa;
}

/*==================================== Google Fonts ====================================*/


/*==================================== * CSS ====================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==================================== Navbar ====================================*/
.navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: var(--btn-bg-color);
    /*background-color: black;*/
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#m{
    font-family: cursive;
    font-size: 1.5em;
}

#k{
    color: red;
}

/*==================================== Intro section ====================================*/
.intro {
    background:linear-gradient(to bottom right, var(--intro-bg-color), white);
    background-size: cover;
    width: 100vw;
    color: black;
}

.intro h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.intro h6{
    line-height: 1;
    border-bottom: 3px solid red;
}

#\& {
    font-family: cursive;
}

.linkedInBtn {
    border-radius: 25%;
    border: 2px solid var(--btn-bg-color);
    padding: 4px;
    cursor: pointer;
    background-color: white;
}

.linkedInBtn:hover {
    transition: 0.4s;
    border-radius: 10%;
    border: 2px solid var(--btn-bg-color);
    cursor: pointer;
}

.githubBtn {
    border-radius: 25%;
    border: 2px solid var(--btn-bg-color);
    padding: 4px;
    cursor: pointer;
    background-color: white;
}

.githubBtn:hover {
    transition: 0.4s;
    border-radius: 10%;
    border: 2px solid var(--btn-bg-color);
    cursor: pointer;
}


/*==================================== About Me ====================================*/

#arbtext1 {
    color: black;
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.btn1:hover {
    color: white;
    background-color: var(--btn-bg-color);
    transition: 0.4s;
}

.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.btn2:hover {
    color: white;
    background-color: var(--btn-bg-color);
    transition: 0.4s;
}

.carousel-item {
    border-top: 10px;
    border-left: 4px;
    border-bottom: 10px;
    border-right: 4px;
    border-color: #fff;
    border-style: solid;
}

.carousel-inner {
    width: 382px;
}

/*==================================== Portfolio section ====================================*/

.portfolio {
    background: linear-gradient(to top left, whitesmoke, white);
}

.btn4{
    width: 125px;
    list-style: none;
    background-color: var(--btn-bg-color);
    padding: 5px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn4:hover{
    background-color: whitesmoke;
    color: var(--btn-bg-color);
    transition: 0.4s;
}

/*Project Cards CSS */
.btn3{
    height: 30px;
    width: 100px;
    outline: none;
    background: var(--bglight-bg-color);
    border: none;
    color: black;
}

.btn3:hover {
    color: white;
    background-color: green;
    transition: 0.4s;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 0.4s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

/*==================================== Contact section ====================================*/

.date-container {
    font-weight: 100;
}

.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}


/*.display-1 {*/
/*    font-family:*/
/*}*/