/*==================================== Google Fonts ====================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*==================================== Colors ====================================*/
/* HSL color mode */
:root{
    --home-bg-color: hsl(213, 24%, 93%);
    --about-bg-color: hsl(230, 69%, 10%);
}

/*==================================== Google Fonts ====================================*/


/*==================================== * CSS ====================================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==================================== Navbar ====================================*/
.navbar {
    background-color: white;
}

.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: hsl(230, 69%, 10%);
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/*==================================== Home section ====================================*/
.home {
    background: url("./assets/mainImage.png") no-repeat var(--home-bg-color);
    background-size: cover;
    width: 100vw;
}

.home h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.home h6{
    line-height: 1;
    border-bottom: 3px solid red;
    width: 120%;
}

#\& {
    font-family: cursive;
}

/*==================================== About section ====================================*/
.about {
    background-color: var(--about-bg-color);
    color: white;
}